<style>
  .button {
    background-color: blue;
    border: none;
    color: white;
    padding: 32px 96px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 500px;
    height: 150px;
    display: block;
  }

.button1 {
  background-color: #afcdfa; 
  color: black; 
  border: 2px solid blue;
}

.button1:hover {
  background-color: blue;
  color: white;
}
#img {width: 1500px;
      height: 500px;
}
</style>
