body {
  background-color: #112e3f;
}

.button {
  background-color: #112e3f;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 490px;
  height: 150px;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}

.button1 {
  background-color: #287980;
  color: black;
  border: 2px solid #112e3f;
}

.button1:hover {
  background-color: #16464a;
  color: white;
}

#banner {
  width: 1500px;
  height: 600px;
}

#img {
  width: 500px;
  height: 400px;
}

#img2 {
  float: right;
    width: 500px;
  height: 700px;
}

#img3 {
  float: left;
    width: 500px;
  height: 400px;
}

#textLeft {
  float: left;
}

#textRight {
  float: right;
}

#text {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 130px;
  padding-right: 130px;
  font-size: 24px;
  background-color: #95fbff;
  font-family: Helvetica, sans-serif;
}

td {
  background-color: #95fbff;
}

h1 {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 65px;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #112e3f;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #112e3f;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #112e3f;
}

.dl {
  margin-left: 560px;
}

#listheadings {
  margin-left: 410px;
}

b {
  font-style: italic;
  color: #112e3f;
}

.margins {
  margin-top: 200px;
}
